# Data Science Tools and Ecosystem

## In this notebook,  Data Science Tools and Ecosystem are summarized.

**Objectives**
* Lists.
* Data Science Libraries.
* Data Science Tools.
* Data Science Languages.
* Tables.

### Some of the commonly used libraries used by Data Scientists include:
1. Python
2. R Language
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. NumPy
3. MatplotLib

|Data Science Tools|
:---------------:
| 1. Anaconda Navigator |
| 2. RStudio |
| 3. VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic operation expression to multiply then add integers.
(3*4) + 5

17

In [8]:
# This will convert 200 minutes into hours
200/60

3.3333333333333335

## Author
Umar Yousaf Alvi